<!DOCTYPE html>
<html>
<head>
    <title>Leaflet.draw vector editing handlers</title>

    <script src="js/leaflet-src.js"></script>
    <link rel="stylesheet" href="css/leaflet.css"/>

    <script src="js/Leaflet.draw.js"></script>
    <script src="js/Leaflet.Draw.Event.js"></script>
    <link rel="stylesheet" href="css/draw.css"/>

    <script src="js/Toolbar.js"></script>
    <script src="js/Tooltip.js"></script>

    <script src="js/GeometryUtil.js"></script>
    <script src="js/LatLngUtil.js"></script>
    <script src="js/LineUtil.Intersect.js"></script>
    <script src="js/Polygon.Intersect.js"></script>
    <script src="js/Polyline.Intersect.js"></script>
    <script src="js/TouchEvents.js"></script>

    <script src="js/Draw/DrawToolbar.js"></script>
    <script src="js/Draw/Draw.Feature.js"></script>
    <script src="js/Draw/Draw.SimpleShape.js"></script>
    <script src="js/Draw/Draw.Polyline.js"></script>
    <script src="js/Draw/Draw.Marker.js"></script>
    <script src="js/Draw/Draw.Circle.js"></script>
    <script src="js/Draw/Draw.CircleMarker.js"></script>
    <script src="js/Draw/Draw.Polygon.js"></script>
    <script src="js/Draw/Draw.Rectangle.js"></script>


    <script src="js/Edit/EditToolbar.js"></script>
    <script src="js/Edit/EditToolbar.Edit.js"></script>
    <script src="js/Edit/EditToolbar.Delete.js"></script>

    <script src="js/Control.Draw.js"></script>

    <script src="js/Edit/Edit.Poly.js"></script>
    <script src="js/Edit/Edit.SimpleShape.js"></script>
    <script src="js/Edit/Edit.Rectangle.js"></script>
    <script src="js/Edit/Edit.Marker.js"></script>
    <script src="js/Edit/Edit.CircleMarker.js"></script>
    <script src="js/Edit/Edit.Circle.js"></script>
</head>
<body>
<div id="map" style="width: 800px; height: 600px; border: 1px solid #ccc"></div>

<script>
    var osmUrl = 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
        osmAttrib = '&copy; <a href="http://openstreetmap.org/copyright">OpenStreetMap</a> contributors',
        osm = L.tileLayer(osmUrl, { maxZoom: 18, attribution: osmAttrib }),
        map = new L.Map('map', { center: new L.LatLng(51.505, -0.04), zoom: 13 }),
        drawnItems = L.featureGroup().addTo(map);
    L.control.layers({
        'osm': osm.addTo(map),
        "google": L.tileLayer('http://www.google.cn/maps/vt?lyrs=s@189&gl=cn&x={x}&y={y}&z={z}', {
            attribution: 'google'
        })
    }, { 'drawlayer': drawnItems }, { position: 'topleft', collapsed: false }).addTo(map);
    map.addControl(new L.Control.Draw({
        edit: {
            featureGroup: drawnItems,
            poly: {
                allowIntersection: false
            }
        },
        draw: {
            polygon: {
                allowIntersection: false,
                showArea: true
            }
        }
    }));

    map.on(L.Draw.Event.CREATED, function (event) {
        var layer = event.layer;

        drawnItems.addLayer(layer);
    });

</script>
</body>
</html>